registry=https://registry.yarnpkg.com
@lonewolf:registry=https://npm-repo.lab.lwolf.com
@helix:registry=https://npm-repo.lab.lwolf.com
@lwt-helix:registry=https://npm-repo.lab.lwolf.com
@lwt-common:registry=https://npm-repo.lab.lwolf.com
@lwolf-common:registry=https://npm-repo.lab.lwolf.com