.textareaWrapper {
    position: relative;
    border: solid 1px var(--helix-gray-300);
    border-radius: 8px;
}

.textareaWrapper:focus-within {
    outline: 2px solid var(--helix-brand);
    outline-offset: 2px;
}

.textareaWrapper textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    resize: none;
    min-height: 40px;
    max-height: 200px;
    box-sizing: border-box;
    font-family: inherit;
    overflow: hidden;
}

.textareaWrapper textarea:focus {
    border-color: none;
    outline: none;
}

.textareaWrapper textarea::placeholder {
    background: linear-gradient(90deg, #999 25%, #ccc 50%, #999 75%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.textareaWrapper textarea:focus::placeholder {
    -webkit-text-fill-color: #999;
    color: #999;
    background: none;
    animation: none;
}

.textareaWrapper textarea:disabled {
    background-color: transparent;
    cursor: not-allowed;
}